@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&family=Ysabeau:wght@300;400;500;600&display=swap');

:root{
  --headerFont:'Dancing Script', cursive;
  --textFont: 'Ysabeau', sans-serif;
  --mainColor:#a10812;
  --secondaryColor: #fffefe;
}

body {
  background-color: var(--secondaryColor);
}
